@model ShareAVilla.Models.Find.SearchVM
<style type="text/css">
    .page-nav:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    /*.page_nav {
        display:flex;
        justify-content:flex-start;
    }*/
    .property-col {
        justify-content:flex-start;

    }
</style>

<script type="text/javascript">
    function callSearch(nav) {

        $('#myForm').submit();
       
   
    }
    $(document).ready(function () {

        $(document).on('click', '#pageprev', function () {
            console.log("prev called");
            document.getElementById('Search_nav').value = "p";

            callSearch('p');

        });
        $(document).on('click', '#pagenext', function () {
            console.log("next called");
            document.getElementById('Search_nav').value = "n";
            callSearch('n');
        });
        $(document).on('change', '#Search_FilterProps_PerPage', function () {
            console.log("pageselect called\n" + this.value);
            document.getElementById('Search_FilterProps_PerPage').value = this.value;
            callSearch('');
        });

    });

</script>


<div class="property-col">
    <div class="property" style="align-self:flex-start">

        @if (IsPost)
        {
            if (Model.LikibuResults != null)
            {
                if (Model.LikibuResults.TotalResults > int.Parse(Model.Search.FilterProps.PerPage) || Model.RequestResults.TotalResults > int.Parse(Model.Search.FilterProps.PerPage))
                {
                    <div class="page-nav form-group">
                    @{
                        int page = int.Parse(Model.Search.FilterProps.Page);
                        if (page > 1)
                        {
                            <div id="pageprev" class="page-nav page-nav-prev"> < Prev            
                            </div>
                        }
                    }

                    @if (int.Parse(Model.Search.FilterProps.Page) < Model.LikibuResults.TotalPages)
                    {
                        <div id="pagenext" class="page-nav page-nav-next">Next > </div>
                    }
                    </div>
                }
            }
        }
    </div>
    <div class="property">
        
            @Html.Label("Results per Page: ", new { @class = "labellogin" })


            <div class="col-md-8">
            @Html.DropDownListFor(model => model.Search.FilterProps.PerPage, new List<SelectListItem>
                {
                        new SelectListItem() {Text = "10", Value="10"},
                        new SelectListItem() {Text = "25", Value="25"},
                        new SelectListItem() {Text = "50", Value="50"},
                        new SelectListItem() {Text = "70", Value="70"},
                        new SelectListItem() {Text = "100", Value="100"},

                }, new { @class = "form-control"})
        </div>

    </div>
</div>
