@model ShareAVilla.Models.Find.SearchVM

@{/////Search Results obsolete for now
    if (IsPost)
    {
        if (Model.RequestResults != null)
        {
            if (Model.RequestResults.RequestList.Count > 0)
            {


                foreach (var item in Model.RequestResults.RequestList)
                {

                    <div class="searchresults">
                        @Html.Partial("~/Views/Requests/_RequestPrevPartial.cshtml", item)
                    </div>

                }


            }
        }
    }


}