@model ShareAVilla.Models.RoomRequest.ReservationsVM                     
@{
    ViewBag.Title = "Reservations";
}

<h4>Reservations</h4>
<h5>Approvals</h5>

@if (Model != null)
{
    @Html.Partial("~/Views/RoomRequests/_RoomRequestSpecList.cshtml", Model)
}

<hr />
<h4>Rooms</h4>
<h5>Occupancy</h5>
<hr/>
@if (Model != null)
{
<div class="form-group">
    @Html.Partial("~/Views/Accommodations/_BedRoomSpecsPartial.cshtml", Model)
</div>
}
