@{
    ViewBag.Title = "Contact";
}
<hr/>
<h4>@ViewBag.Title                                                                                           </h4>


@*<address>
    <br />
    <br />
    
</address>*@

<address>
    <strong>Support:</strong>   <a href="mailto:ShareAVilla@gmx.de">ShareAVilla@gmx.de</a><br />    
</address>
