@model ShareAVilla.Models.RoomRequest.RoomRequestVMUser
    
@{
    ViewBag.Title = "Apply for Request";
}

<h4>Apply</h4>
<h5>for the Request</h5>
<hr/>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Partial("~/Views/RoomRequests/_RoomRequestPropsPartial.cshtml", Model)

    <div class="property" style="margin-top:12%; margin-bottom:30px">
        <div class="col-md-offset-1 col-md-2">
            <input type="submit" value="Apply" class="btn btn-default" />
        </div>
    </div>

}

<div class="property">
    @Html.ActionLink("Back to List", "Search", "Searches")
</div>
