@{
    ViewBag.Title = "Kennwortbestätigung zurücksetzen";
}

<hgroup class="title">
    <h4>@ViewBag.Title.</h4>
</hgroup>
<div>
    <p>
        Your password was reset Bitte @Html.ActionLink("Please Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
